<ion-view title="Home">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Home</h1>
    <br/>
<br/>
<br/>
    <div class="row">
    <div class="col col-offset-33">
    <button ng-click="getRide()" class="button button-calm">
Be My Ryd</button>
</div>
</div>
<div class="row">
<br/>
<br/>
<br/>
</div>
<div class="row">
<div class="col col-offset-33">
<button ng-click="postRide()" class="button button-calm">
  Be The Ryd
</button>
</div>
</div>
  </ion-content>
</ion-view>