<ion-view title="Map" ng-app="starter" ng-controller="MapCtrl">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Map</h1>
    </ion-header-bar>

    <ion-content scroll="false">
        <google-map center="map.center" events="map.events" zoom="map.zoom">
            <marker
                    ng-repeat="marker in markers"
                    coords="marker">
            <window
                    show="true"
                    templateUrl="templates/map-info-window.html">
            </window>
            </marker>
        </google-map>
    </ion-content>
</ion-view>


